#bg {
    position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(255, 255, 255);
    }

/* Система генерации данных */
div {
    color: rgb(46, 57, 68);
    /* Шрифт */
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.8px;
    /* Позиция */
	text-align: center; 
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }
        
/* Создать таблицу */
.button {
    display: inline-block;
    background: rgb(46, 57, 68);
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
	font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.64px;
    width: 287px;
    height: 40px;
    margin-top: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

.button:hover, .button:focus {
    background-color: #1A2026;
    }