<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Система генерации данных</title>
    <link rel="stylesheet" href="static/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel='stylesheet' type='text/css'>

</head>
    <body>
        <div id="bg">
            <div id="noname">Система генерации данных</div>
            <a class="button" href="./generator">СОЗДАТЬ ТАБЛИЦУ</a>
        </div>
    </body>
</html>