<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Система генерации данных</title>
    <link rel="stylesheet" href="static/css/styles.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

</head>
    <body>
        <div id="bg">
            <div id="noname">Система генерации данных</div>
            <a class="button" href="./generator">СОЗДАТЬ ТАБЛИЦУ</a>
        </div>
    </body>
</html>