<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Система генерации данных</title>
    <link rel="stylesheet" href="/static/fonts/awesome/css/all.css" type="text/css">
	<link rel="stylesheet" href="/static/css/styles2.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>

</head>
    <body>
        <ul class="flex-container">


            <li class="flex-item">

                <h1>Настройки</h1>

                <form onsubmit="return onSubmit(this)">
{#                    <button type="sumbit" class="button">Сгенерировать</button>#}
                    <div class="floating-label">      
                        <input class="floating-input" type="text" placeholder=" " name="rows" required>
                        <label>Количество строк</label>
                    </div>
            
                    <div class="floating-label">
                        <select class="floating-select" name="selectform" onclick="this.setAttribute('value', this.value);" value="" id="selectform">
                            <option value=""></option>
                            <option value="form-1">Бета-распределение</option>
                            <option value="form-2">Биномиальное распределение</option>
                            <option value="form-3">Экспоненциальное распределение</option>
                            <option value="form-4">Гамма-распределение</option>
                            <option value="form-5">Геометрическое распределение</option>
                            <option value="form-6">Гипергеометрическое распределение</option>
                            <option value="form-7">Распределение Лапласа</option>
                            <option value="form-8">Логистическое распределение</option>
                            <option value="form-9">Логнормальное распределение</option>
                            <option value="form-10">Логарифмическое распределение</option>
                            <option value="form-11">Мультиномиальное распределение</option>
                            <option value="form-12">Отрицательное биномиальное распределение</option>
                            <option value="form-13">Треугольное распределение</option>
                            <option value="form-14">Нормальное распределение</option>
                            <option value="form-15">Распределение Пуассона</option>
                            <option value="form-16">Непрерывное равномерное распределение</option>
                            <option value="form-17">Распределение Вейбулла</option>
                        </select>
                        <label>Распределение</label>
                        
                    </div>
                    
                    <div id="container" class="container"></div>

                    <button type="sumbit" class="button" style="margin-top: 50px">Сгенерировать</button>

                </form>


                    <div id="templates-container"> 
                        
                        <div class="form-1 dynamicSelect-form">
                            <span class="removebutton" onclick="deleteBox(this)">
                                <i class="fas fa-times" style="cursor: pointer;"></i>
                            </span>
                                <details open>
                                    <summary>
                                        <p>Бета-распределение
                                            <span class="tooltip-toggle" aria-label="a: float; b: float." tabindex="0">
                                            <i class="far fa-question-circle" style="font-size: 15px; cursor: pointer;"></i>  
                                            </span>
                                        </p>
                                    </summary>
                                    <input type="hidden" name="selected" value="beta">
                                    <div class="floating-label2">      
                                    <input class="floating-input" type="text" placeholder=" " name="a">
                                        <label>Введите первое число</label>
                                    </div>
                                    <div class="floating-label2">      
                                    <input class="floating-input" type="text" placeholder=" " name="b">
                                        <label>Введите второе число</label>
                                    </div>
                                </details>
                            </div>
                        
                    
                        <div class="form-2 dynamicSelect-form">
                            <span class="removebutton" onclick="deleteBox(this)">
                                <i class="fas fa-times" style="cursor: pointer;"></i>
                            </span>
                            <details open>
                                <summary>
                                <p>Биномиальное распределение
                                        <span class="tooltip-toggle" aria-label="n: integer, >=0; p: float, >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                        </span>
                                </p>
                                </summary>
                                <input type="hidden" name="selected" value="binomial">
                                <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="n">
                                    <label>Введите первое число</label>
                                </div>
                                <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="p">
                                    <label>Введите второе число</label>
                                </div>
                            </details>
                        </div>

                    <div class="form-3 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Экспоненциальное распределение
                                <span class="tooltip-toggle" aria-label="scale: float >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="exponential">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="scale">
                                <label>Введите число</label>
                            </div>
                        </details>
                        </div>

                    <div class="form-4 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                            <details open>
                            <summary>
                                <p>Гамма-распределение
                                    <span class="tooltip-toggle" aria-label="k: float, >=0; theta: float, >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                    </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="gamma">
                            <div class="floating-label2">
                            <input class="floating-input" type="text" placeholder=" " name="k">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">
                            <input class="floating-input" type="text" placeholder=" " name="theta">
                                <label>Введите второе число</label>
                            </div>
                            </details>
                        </div>

                    <div class="form-5 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Геометрическое распределение
                                <span class="tooltip-toggle" aria-label="p: float, >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="geometric">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="p">
                                <label>Введите число</label>
                            </div>
                        </details>
                        </div>

                    <div class="form-6 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                                </span>
                        <details open>
                            <summary>
                                <p>Гипергеометрическое распределение
                                    <span class="tooltip-toggle" aria-label="ngood: integer, >=0; 
nbad: integer, >=0; 
nall: integer, >=1 and 
<=ngood+nbad." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                    </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="hypergeometric">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="ngood">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="nbad">
                                <label>Введите второе число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="nall">
                                <label>Введите третье число</label>
                            </div>
                        </details>
                        </div>

                    <div class="form-7 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Распределение Лапласа
                                <span class="tooltip-toggle" aria-label="mean: float; scale: float, >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="laplace">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="mean">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="scale">
                                <label>Введите второе число</label>
                            </div>
                        </details>                
                        </div>

                    <div class="form-8 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Логистическое распределение
                                <span class="tooltip-toggle" aria-label="mean: float; scale: float, >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="logistic">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="mean">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="scale">
                                <label>Введите второе число</label>
                            </div>
                        </details>
                        </div>
                        
                    <div class="form-9 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Логнормальное распределение
                                <span class="tooltip-toggle" aria-label="mean: float; std: float, >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="lognormal">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="mean">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="std">
                                <label>Введите второе число</label>
                            </div>
                        </details>
                        </div>

                    <div class="form-10 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Логарифмическое распределение
                                    <span class="tooltip-toggle" aria-label="p: float in range (0, 1)." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="logarithmic">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="p">
                                <label>Введите число</label>
                            </div>
                        </details>
                        </div>

                    <div class="form-11 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Мультиномиальное распределение
                                    <span class="tooltip-toggle" aria-label="n: int, >=0; 
pr_of_vals: list of float probabilities,
sum must be = 1." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="multinomial">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="n">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="m">
                                <label>Введите второе число</label>
                            </div>
                        </details>
                        </div>

                    <div class="form-12 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Отр. биномиальное распределение
                                <span class="tooltip-toggle" aria-label="n: int, >0; p: float in range [0, 1]." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="negative_binomial">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="n">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="p">
                                <label>Введите второе число</label>
                            </div>
                        </details>
                        </div>
                        
                    <div class="form-13 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Треугольное распределение
                                    <span class="tooltip-toggle" aria-label="left: float; 
top: float, must be >= left; 
right: float, must be >= top." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="triangular">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="left">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="top">
                                <label>Введите второе число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="right">
                                <label>Введите третье число</label>
                            </div>
                        </details>                        
                        </div>

                    <div class="form-14 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Нормальное распределение
                                <span class="tooltip-toggle" aria-label="mean: float; std: float >=0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="normal">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="mean">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="std">
                                <label>Введите второе число</label>
                            </div>
                        </details>                        
                        </div>

                    <div class="form-15 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Распределение Пуассона
                                <span class="tooltip-toggle" aria-label="lam: float, >0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="poisson">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="lam">
                                <label>Введите число</label>
                            </div>
                        </details> 
                        </div>
                    </div>

                    <div class="form-16 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Непрерывное равномерное распределение
                                <span class="tooltip-toggle" aria-label="left: float; right: float > left." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="uniform">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="left">
                                <label>Введите первое число</label>
                            </div>
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="right">
                                <label>Введите второе число</label>
                            </div>
                        </details> 
                        </div>
                    </div>

                    <div class="form-17 dynamicSelect-form">
                        <span class="removebutton" onclick="deleteBox(this)">
                            <i class="fas fa-times" style="cursor: pointer;"></i>
                        </span>
                        <details open>
                            <summary>
                                <p>Распределение Вейбулла
                                <span class="tooltip-toggle" aria-label="a: float >= 0." tabindex="0">
                                        <i class="far fa-question-circle" style="font-size: 15px;"></i>  
                                </span>
                                </p>
                            </summary>
                            <input type="hidden" name="selected" value="weibull">
                            <div class="floating-label2">      
                                <input class="floating-input" type="text" placeholder=" " name="a">
                                <label>Введите число</label>
                            </div>
                        </details> 
                        </div>
                    </div>

            </li>


            
            <li class="flex-item">
                <h1>Визуализация</h1>
                
                <div class="detail">
                    <div class="tabs-control">
                        <a href="#tab-1">График</a>
                        <a href="#tab-2">Данные</a>
                    </div>
                    <div class="tabs-content">
                        
                        <div id="tab-1">
                            <div id="result-plot"></div>
                        </div>
                    
                        <div id="tab-2">
                            <div id="result-table"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </body>
</html>